:root {
  --color-white: #ffffff;
  --red-dark: hsl(360, 67%, 44%);
  --red-light: hsl(360, 71%, 66%);
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  background-color: #014d4d98;
  background-clip: content-box;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  border-radius: 0.45rem;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #027070;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ccc;
  overflow-x: hidden;
}

body {
  font-family: 'Urbanist', sans-serif;
  color: #333;
  line-height: 1.6;
  font-weight: 500;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.product__link,
.product__link:link,
.product__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav__link:link,
.nav__link:visited,
.footer__link:link,
.footer__link:visited {
  display: inline-block;
  text-decoration: none;
}

.nav__link--light:focus,
.footer__link--light:focus {
  outline-color: #777777;
}

.nav__link--dark:focus,
.footer__link--dark:focus {
  outline-color: rgb(156, 156, 156);
}

.active--light {
  color: #008b8b !important;
}

.active--dark {
  color: #07cfcf !important;
}

.search__icon--dark {
  color: darkgray;
}

.search__icon--light {
  color: gray;
}

.username__icon,
.register__icon {
  cursor: text;
}

.password__icon {
  cursor: pointer;
}

.username__icon,
.password__icon,
.register__icon {
  font-size: 2rem !important;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.username__icon--light,
.password__icon--light,
.register__icon--light {
  color: #008080;
}

.arrow__light {
  fill: #333333 !important;
}

.arrow__dark {
  fill: #202020 !important;
}

.product__icon--light {
  fill: #333333 !important;
}

.product__icon--dark {
  fill: #919090 !important;
}

.icon__add,
.icon__remove {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
